<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mybatis.dao.MybatisUserDao">

  <insert id="insert" parameterType="com.test.entity.User">
    insert into user (username, password)
    values ( #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <select id="countUser" resultType="int">
    select count(*) from user
  </select>
</mapper>